:root{
    font-family: Raleway;


}

#header{
    background-color: #719484;
    width: 100%;
    height: 641px;
}

.ust-menu{
    width: 1000px;
    height: 48px;
    margin: auto;
    font-family: "Raleway SemiBold";
    padding-top:62px ;

}

.ust-menu li{
    list-style-type: none;
    float: left;
    padding-bottom: 20px;

}
.ust-menu a{
    text-decoration: none;
    color:white;
    padding-right: 36px;
}
.menu{
    float: right;
    margin-left: 7px;

}

.logo span{
    font-family: "Raleway ExtraBold";
    font-size: 40px;
    color:white;

}

.alt-menu{
    width: 1000px;
    margin: auto;

}
.yazılar{
    float: right;
    width: 213px;
    padding-right: 222px;
    padding-top: 90px;

}
.yazı{
    font-family: "Raleway Thin";
    color:white;
    font-size:40px
}
.yazı3{
    font-family: "Raleway ExtraBold";
}
.yazı2{
    color:white;
    padding-top: 10px;
    width: 355px;
}
.ıcerık{
   float: left;
    padding-top: 90px;
}
.pc1{
    padding-left: 113px;
}
.soloks{
    padding-bottom: 60px;
}
.sagoks{
    float: right;
    padding-top: 175px;
}
.header-foot{
    background-color: #4c4a46;
    height: 127px;
    width: 100%;
}
.foot-yazı{
    color:white;
    font-family: "Raleway ExtraBold";
    font-size: 35px;
    padding-left: 390px;
    padding-top: 30px;


}
.foot-yazı2{
    padding-left: 475px;
    color:white;
    font-family: "Raleway Light";
    padding-top: 15px;

}

#content{
    width:100%;
    height:1375px;
    background-color: #ffffff;
    padding-left: 50px;
}
.ust-content{
    width: 1200px;
    margin: auto;
    padding-top: 90px;
    padding-left:45px;



}
.ı1,.ı2,.ı3,.ı4{
    float:left;
    padding-left: 72px;
    height: 261px;
    width: 215px;


}
.ı2 img{
    width: 118px;
    height: 118px;
}

.yazılars2{
    width: 1200px;
    margin: auto;
    position: absolute;

}
.ı-yazı1,.ı-yazı2,.ı-yazı3,.ı-yazı4{

    width: 219px;
    height: 96px;
    float: left;
    padding-left:72px ;


}
.yazılars2{
    position: absolute;
    padding-top: 140px;
    padding-left:170px;
}
.yazılars2 span{
    color: #4c4a46;
    font-family: "Raleway ExtraBold";

}
.yazılars2 p{
    color:#a5a3a2;
    padding-top: 15px;
    text-align: start;

}

.alt-content{
    background-color:#ffffff;
    height: 1400px;
    width:1050px;
    margin: auto;




}

.ust-yazı span{
    font-family: "Raleway ExtraBold";
    color: #4c4a46;
    font-size: 45px;

}
.ust-yazı p{
       color:#706b67;
    padding-top: 12px;
    padding-left: 110px;
}
.ust-yazı{
  padding-left: 120px;
position: absolute;
    padding-top: 340px;

}
.alt-resım{
    float: left;
    padding-top: 180px;
}
.alt-content2{
    height: 980px;
    width:1700px;
    margin: auto;
    position: absolute;
    padding-top: 700px;
}
.a2,.a3,.a4,.a5{
    float: left;
    padding-top: 140px;
    padding-left: 13px;
}
.yazılars3{
    width: 1200px;
    margin: auto;
  padding-top: 1100px;
    padding-left: 24px;


}
.ı-yazı4,.ı-yazı5,.ı-yazı6,.ı-yazı7{
    width: 219px;
    height: 96px;
    float: left;
    padding-left: 40px;


}
.yazılars3 span{
    font-family: "Raleway ExtraBold";
    color: #4c4a46;
}
.yazılars3 p{
    color:#706b67;
    padding-top: 12px;

}

.pop{
    background-color: #4c4a46;
    width: 100%;
    height: 391px;

}
.img,.yazım{
    margin: auto;
    float: left;
}

.img{
    padding-left:300px;
    padding-top: 50px;
}
.yazım{
    padding-left: 50px;
    padding-top: 80px;
    width: 410px;
}
.yazım span{
    font-family: "Raleway ExtraBold";
    color:white;
    font-size: 30px;
}

.yazım p{
    padding-top: 15px;
    color:white;
}
.yazım button{
    margin-top: 20px;
    border-radius: 10px;
    background-color: #67b3c6;
    color:White;
    height: 30px;
    font-family: "Raleway Light";
    font-size: 12px;
}
.alt-resım img:hover
{
    background-image:url("img/hov.png");
}